<div class="jumbotron jumbotron bg-light text-shadow shadow-sm m-0 ">
  <div class="container-fluid bg-white br-15 p-5">
    <h1 class="display-2">Bem vindo(a)!</h1>
    <p class="lead">
      O nosso objetivo é compartilhar o máximo de informações com pessoas em
      situação de vulnerabilidade para que elas possam ter acesso à educação,
      moradia e alimentação, com o objetivo de erradicar a pobreza.
    </p>
  </div>
</div>

<div class="container-fluid bg-light">
  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <!-- Card Start -->
        <div class="card card-borda bg-white text-shadow shadow br-15">
          <div class="row">
            <div class="col-md-7">
              <div class="card-block">
                <h4 class="card-title mt-2 ml-4">
                  Número de famílias em extrema pobreza salta 1,8 milhão em 2022
                </h4>
                <p class="ml-4 card-text">
                  O Brasil registrou 1,8 milhões de famílias a mais em situação
                  de extrema pobreza nos dois primeiros meses de 2022, um
                  aumento de 11,8% em relação ao final de 2021. Ao todo, o país
                  soma 17,5 milhões de famílias vivendo com renda per capita
                  mensal de até R$ 105, segundo dados do Cadastro Único.
                </p>
                <p class="card-text ml-4">
                  Cadastro Único para Programas Sociais ou CadÚnico é um
                  instrumento de coleta de dados e informações para identificar
                  todas as famílias de baixa renda existentes no país para fins
                  de inclusão em programas de assistência social e
                  redistribuição de renda, como o Auxílio Brasil e o extinto
                  Auxílio Emergencial
                </p>
                <br />
              </div>
            </div>
            <!-- img -->
            <div class="col-md-5 ">
              <img
                src="https://i.imgur.com/S7dOw8q.jpg "
                class="img-fluid"
                alt=""
              />
            </div>
            <!-- img -->
          </div>
        </div>
        <!-- End of card -->
      </div>

      <br />
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <!-- Card Start -->
        <div class="card card-borda bg-white text-shadow shadow br-15">
          <div class="row">
            <div class="col-md-7 pl-5">
              <div class="card-block">
                <h4 class="card-title ml-4">
                  Quase 28 milhões de pessoas vivem abaixo da linha da pobreza
                  no Brasil
                </h4>
                <p class="card-text ml-4">
                  De acordo com a FGV Social, quase 28 milhões de pessoas vivem
                  abaixo da linha da pobreza no Brasil. Em 2019, antes da
                  pandemia de Covid-19, eram pouco mais de 23 milhões de
                  indivíduos nesta situação.
                </p>
                <p class="card-text ml-4">
                  O auxílio emergencial concedido pelo governo fez esse número
                  cair, porém o efeito foi anestésico. À medida que o benefício
                  caía, a pobreza subia. Ainda que o coronavírus dê sinais de
                  arrefecimento, o aumento do preço do gás de cozinha e dos
                  alimentos não tem deixado dinheiro para os menos favorecidos
                  pagarem o aluguel. Segundo o diretor do FGV Social, Marcelo
                  Neri, a combinação de inflação e desemprego altos “tem afetado
                  muito mais os mais pobres”. “No curto prazo esse é o nosso
                  grande dilema: o cobertor que era curto ficou mais curto
                  ainda”, afirmou à CNN.
                </p>
                <br />
              </div>
            </div>
            <!-- img -->
            <div class="col-md-5 p-0">
              <img
                src="https://i.imgur.com/S7dOw8q.jpg "
                class="img-fluid"
                alt=""
              />
            </div>
            <!-- img -->
          </div>
        </div>
        <!-- End of card -->
      </div>

      <br />
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <!-- Card Start -->
        <div class="card card-borda bg-white text-shadow shadow br-15">
          <div class="row">
            <div class="col-md-7 mt-5 pl-5">
              <div class="card-block">
                <h4 class="card-title ml-4">
                  Quanto custa acabar com a extrema pobreza no Brasil?
                </h4>
                <p class="card-text ml-4">
                  Especialistas na área social dizem que o país poderia gastar
                  menos em transferência de renda do que os R$ 89,1 bilhões do
                  Auxílio Brasil, desde que o programa fosse mais focalizado.
                  Maior atenção às crianças e às diferenças regionais também são
                  pontos de alerta.
                </p>
                <p class="card-text ml-4">
                  O Brasil tem um número grande e um número pequeno. O número
                  grande é a quantidade de pobres. (Em outubro de 2021) Eram
                  cerca de 27 milhões de pessoas. E tem um número pequeno, que é
                  o custo de erradicação da pobreza", afirma Marcelo Neri,
                  diretor da FGV Social.
                </p>
                <br />
              </div>
            </div>
            <!-- img -->
            <div class="col-md-5 p-0 ">
              <img
                src="https://i.imgur.com/S7dOw8q.jpg "
                class=" img-fluid"
                alt=""
              />
            </div>
            <!-- img -->
          </div>
        </div>
        <!-- End of card -->
      </div>
    </div>
  </div>

  <div class="container bg-light mt-4 br-15 shadow-sm text-shadow p-4 pr-5 pl-5">
    <div class="row">
      <div
        class="col-md-12 pt-5 pb-2 bg-white mt-2 text-center br-15 ourTeam-hedding text-center"
      >
        <h1>Nosso time</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,<strong>
            sed do eiusmod tempor incididunt </strong
          >ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div
          class="row section-success br-15 shadow-sm ourTeam-box text-center"
        >
          <div class="col-md-12 section1">
            <img src="https://i.imgur.com/E5ZjBMb.jpg" />
          </div>
          <div class="col-md-12 section2 pb-3">
            <p>Tais Anjos</p>
            <span>Lorem ipsum dolor sit amet, <br />consectetur.</span>
          </div>
          <div class="col-md-12 br-15 section3">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-dribbble" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="row section-info br-15 shadow-sm ourTeam-box text-center">
          <div class="col-md-12 section1">
            <img
              src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg"
            />
          </div>
          <div class="col-md-12 section2 shadow-sm pb-3">
            <p>NOEL FLANTIER</p>
            <span>Lorem ipsum dolor sit amet, <br />consectetur.</span>
          </div>
          <div class="col-md-12 br-15 section3">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-dribbble" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div
          class="row section-danger br-15 shadow-sm bg-white urTeam-box text-center"
        >
          <div class="col-md-12 section1">
            <img
              src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
            />
          </div>
          <div class="col-md-12 section2 pb-3">
            <p>JIM JONES</p>
            <span>Lorem ipsum dolor sit amet, <br />consectetur.</span>
          </div>
          <div class="col-md-12 br-15 section3">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-dribbble" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div
          class="row section-success br-15 shadow-sm ourTeam-box text-center"
        >
          <div class="col-md-12 section1">
            <img src="https://i.imgur.com/E5ZjBMb.jpg" />
          </div>
          <div class="col-md-12 section2 pb-3">
            <p>Tais Anjos</p>
            <span>Lorem ipsum dolor sit amet, <br />consectetur.</span>
          </div>
          <div class="col-md-12 br-15 section3">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-dribbble" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="row-md-6 d-flex justify-content-center">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="row section-info br-15 shadow-sm ourTeam-box text-center">
            <div class="col-md-12 section1">
              <img
                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg"
              />
            </div>
            <div class="col-md-12 section2 pb-3">
              <p>NOEL FLANTIER</p>
              <span>Lorem ipsum dolor sit amet, <br />consectetur.</span>
            </div>
            <div class="col-md-12 br-15 section3">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div
            class="row section-danger br-15 shadow-sm ourTeam-box text-center"
          >
            <div class="col-md-12 section1">
              <img
                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
              />
            </div>
            <div class="col-md-12 section2 pb-3">
              <p>JIM JONES</p>
              <span>Lorem ipsum dolor sit amet, <br />consectetur.</span>
            </div>
            <div class="col-md-12 br-15 section3">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div
            class="row section-success br-15 shadow-sm ourTeam-box text-center"
          >
            <div class="col-md-12 section1">
              <img src="https://i.imgur.com/E5ZjBMb.jpg" />
            </div>
            <div class="col-md-12 section2 pb-3">
              <p>Tais Anjos</p>
              <span>Lorem ipsum dolor sit amet, <br />consectetur.</span>
            </div>
            <div class="col-md-12 br-15 section3">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light p-4"></div>
