.bgrodape{
    background-color: #C03CFF;
}

.logo-size{
    width: 128px;
    height:  128px;
}

ul.membros{
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: white;
}
.sombra {
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.103), 0 0 1em #00000048;
}