<footer class="page-footer font-small bgrodape br-4">
    <div class="justify-content-center p-3 sombra">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white ">Criado por:</h4>
            </div>
        </div>
            <div class="row d-flex ">
                <div class="col-md-2 d-inline-flex justify-content-center px-0 text-shadow">
                    <img class="align-content-center logo-size" src="https://i.imgur.com/pfdAvUv.png" alt="Logo-CAIV">
                </div>
                <div class="col-md-8 d-flex justify-content-center text-white px-0">
                    <div class="">
                        <ul class="membros align-content-center mr-2 my-3">
                            <li>Ana Diniz</li>
                            <li>Benior Cardoso</li>
                            <li>Gabriel Almeida</li>
                            <li>Leonardo Souza</li>
                            <!--nome dos participantes-->
                        </ul>
                    </div>
                    <div class="">
                        <ul class="membros align-content-center ml-2 my-4">
                            <li>Paloma Lopes</li>
                            <li>Rafael Balbino</li>
                            <li>Tais Anjos</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center text-white px-0">
                    <div>
                        <ul class="membros text-center my-4">
                            <li>Apoio:</li>
                            <li><a href="https://brazil.generation.org/" target="_blank">Generation Brasil &copy;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</footer>