<div class="container-fluid fundo">
  <div class="row nvh left">
    <!-- NAVBAR LATERAL COM ICONES -->
    <div class="col-md-1 left navh ml-2 mb-5 p-0 body-fundo br-15 mt-5 shadow">
      
      <div
        class="nav flex-column nav-pills text-white pl-3"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          data-toggle="tooltip" data-placement="right" title="Pagina inicial"
          id="v-pills-home-tab"
          data-toggle="pill"
          href="#v-pills-home"
          role="tab"
          aria-controls="v-pills-home"
          aria-selected="true"
          ><i class="fi fi-sr-home icones pl-2"></i
        ></a>
        <a
          class="nav-link"
          data-toggle="tooltip" data-placement="right" title="Nova postagem"
          id="v-pills-profile-tab"
          data-toggle="pill"
          href="#v-pills-profile"
          role="tab"
          aria-controls="v-pills-profile"
          aria-selected="false"
          data-toggle="modal"
          data-target="#novaPostagem"
          ><i class="fi fi-sr-user-add icones pl-2"></i
        ></a>
        <a
          class="nav-link"
          data-toggle="tooltip" data-placement="right" title="Minhas postagens"
          id="v-pills-messages-tab"
          data-toggle="pill"
          href="#v-pills-messages"
          role="tab"
          aria-controls="v-pills-messages"
          aria-selected="false"
          ><i class="fi fi-sr-comment-user icones pl-2"></i
        ></a>
        <a
          class="nav-link"
          data-toggle="tooltip" data-placement="right" title="Postagens por tema"
          id="v-pills-settings-tab"
          data-toggle="pill"
          href="#v-pills-settings"
          role="tab"
          aria-controls="v-pills-settings"
          aria-selected="false"
          ><i class="fi fi-sr-apps-sort icones pl-2"></i
        ></a>
      </div>
    </div>

    <!-- CARD GROUP POSTAGENS -->
    <div
      class="card-group-list list mx-auto bg-light pl-5 pr-5 br-10 mt-5 mb-5"
    >
      <h1 class="text-center br-10 mt-3 text-shadow">Feed inicial</h1>

      <!-- CARD 1 -->
      <div class="col">
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <!-- HOME -->

            <div class="card br-10 mb-4" style="width: 35rem;" *ngFor="let postagem of listaPostagens">
              <div class="card-body p-0 m-0">
                <h5 class="card-title bg-light shadow-sm br-10 text-center text-shadow">{{postagem.titulo}}</h5>
                <h6 class="card-subtitle  text-muted shadow-none bg-light ml-1 col-md-5">Tema:{{postagem.tema.descricao}} Por: usuario</h6>
                <p class="card-text p-4">{{postagem.texto}}</p>
                <h6 class="card-subtitle mb-1 text-muted shadow-none ml-1 bg-light col-md-5">Data:{{ postagem.data | date: "dd/MM/yyyy" }} às
                  {{ postagem.data | date: "HH:mm" }}</h6>
                <div class="bg-light shadow-sm d-flex justify-content-center br-10">
                  <a href="#" class="card-link text-danger hoversombra">Deletar</a>
                <a href="#" class="card-link text-primary hovversombra">Editar</a>
                </div>
              </div>
            </div>

           
          </div>
          <!-- HOME -->

          <div
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          ></div>
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <!-- Minhas postagens -->
           
              <div class="card br-10 mb-4" style="width: 35rem;" *ngFor="let user of user.postagem">
                <div class="card-body p-0 m-0">
                  <h5 class="card-title bg-light shadow-sm br-10 text-center text-shadow">{{postagem.titulo}}</h5>
                  <h6 class="card-subtitle  text-muted shadow-none bg-light ml-1 col-md-5">Tema:{{postagem.tema.descricao}} Por: usuario</h6>
                  <p class="card-text p-4">{{postagem.texto}}</p>
                  <h6 class="card-subtitle mb-1 text-muted shadow-none ml-1 bg-light col-md-5">Data:{{ postagem.data | date: "dd/MM/yyyy" }} às
                    {{ postagem.data | date: "HH:mm" }}</h6>
                  <div class="bg-light shadow-sm d-flex justify-content-center br-10">
                    <a href="#" class="card-link text-danger hoversombra">Deletar</a>
                  <a href="#" class="card-link text-primary hovversombra">Editar</a>
                  </div>
                </div>
              </div>
            
            <!-- Minhas postagens -->
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-settings"
            role="tabpanel"
            aria-labelledby="v-pills-settings-tab"
          >
            <!-- Postagens por tema -->
            <div class="card br-10 mb-4" style="width: 35rem;" *ngFor="let temaLista of listaTemas">
              <div class="card-body p-0 m-0">
                <h5 class="card-title bg-light shadow-sm br-10 text-center text-shadow">{{postagem.titulo}}</h5>
                <h6 class="card-subtitle  text-muted shadow-none bg-light ml-1 col-md-5">Tema:{{postagem.tema.descricao}} Por: usuario</h6>
                <p class="card-text p-4">{{postagem.texto}}</p>
                <h6 class="card-subtitle mb-1 text-muted shadow-none ml-1 bg-light col-md-5">Data:{{ postagem.data | date: "dd/MM/yyyy" }} às
                  {{ postagem.data | date: "HH:mm" }}</h6>
                <div class="bg-light shadow-sm d-flex justify-content-center br-10">
                  <a href="#" class="card-link text-danger hoversombra">Deletar</a>
                <a href="#" class="card-link text-primary hovversombra">Editar</a>
                </div>
              </div>
            </div>
            <!-- Postagens por tema -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CARD GROUP POSTAGEM -->

<!-- MODAL NOVA POSTAGEM-->
<div
  class="modal fade"
  id="novaPostagem"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered borda">
    <div class="modal-content br-10">
      <div class="modal-header br-10 bg-light">
        <h5 class="modal-title text-shadow" id="novaPostagem">Nova Postagem</h5>
        <button
          type="button"
          class="close closered borda br-10"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título:</label>
          <input
            [(ngModel)]="postagem.titulo"
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Digite o título"
          />
        </div>

        <div class="form-group">
          <label for="texto">Texto:</label>
          <textarea
            [(ngModel)]="postagem.texto"
            class="form-control"
            name="texto"
            id="texto"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="tema"
            >Escolha seu tema ou
            <a routerLink="/tema" data-dismiss="modal"> cadastre um novo</a>:
          </label>
          <select
            class="form-control"
            [(ngModel)]="idTema"
            (change)="findByIdTema()"
            name="tema"
            id="tema"
          >
            <option *ngFor="let item of listaTemas" value="{{ item.id }}">
              {{ item.descricao }}
            </option>
          </select>
        </div>

        <div class="d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-danger br-10 mr-3"
            data-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary br-10"
            (click)="publicar()"
            data-dismiss="modal"
          >
            Publicar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL EDIT POSTAGENS -->

<div
  class="modal fade"
  id="editar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content br-10">
      <div class="modal-header bg-light text-shadow br-10">
        <h5 class="modal-title text-center" id="exampleModalCenterTitle">
          Apagar postagem
        </h5>
        <button
          type="button"
          class="close closered borda br-10"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input
            [(ngModel)]="postagem.titulo"
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Seu título aqui "
          />
        </div>
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea
            [(ngModel)]="postagem.texto"
            class="form-control"
            name="texto"
            id="texto"
            rows="5"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="tema"
            >Escolha um tema
            <a routerLink="/tema" data-dismiss="modal">cadastre um novo</a>:
          </label>
          <select
            class="form-control"
            name="tema"
            id="tema"
            [(ngModel)]="idTema"
            (change)="findByIdTema()"
          >
            <option *ngFor="let item of listaTemas" value="{{ item.id }}">
              {{ item.descricao }}
            </option>
          </select>
        </div>
      </div>
      <div class=" d-flex justify-content-center mb-3">
        <button type="button" class="btn btn-danger br-10 mr-3" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success br-10"
          (click)="atualizar()"
          data-dismiss="modal"
        >
          Publicar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL EDIT POSTAGENS -->

<!-- MODAL DELETE POSTAGENS -->
<div
  class="modal fade"
  id="deletar"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content br-10">
      <div class="modal-header br-10 bg-light">
        <h5 class="modal-title text-shadow" id="deletar">Editar postagem</h5>
        <button
          type="button"
          class="close borda closered br-10"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título:</label>
          <input
            [(ngModel)]="postagem.titulo"
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Digite o título"
          />
        </div>

        <div class="form-group">
          <label for="texto">Texto:</label>
          <textarea
            [(ngModel)]="postagem.texto"
            class="form-control"
            name=""
            id=""
            rows="3"
          ></textarea>
        </div>

        <div class="d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-danger br-10 mr-3"
            data-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary br-10"
            (click)="publicar()"
            data-dismiss="modal"
          >
            Deletar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL DELETE POSTAGENS -->
