<div class="container-fluid fundo">
    <div class="row nvh">
        <div class="col-md-1 navh left ml-2 p-0 body-fundo br-15 mt-5 shadow" >
            <aside>
              <nav class="navbar left fixed-left navbar-light br-15">

                <div class=" navbar-nav pl-3 ">
                  <a class="nav-link active" routerLink="/inicio"
                    ><i
                      class="fi fi-sr-home icones pl-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Pagina inicial"
                    ></i
                  ></a>
                  <a class="nav-link active" href="#"
                    ><i
                      class="fi fi-sr-add icones pl-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Nova postagem"
                    ></i
                  ></a>
                  <a class="nav-link" href="#" routerLink=""
                    ><i
                      class="fi fi-sr-comment-user icones pl-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Minhas postagens"
                    ></i
                  ></a>
                  <a class="nav-link" href="#" routerLink=""
                    ><i
                      class="fi fi-sr-apps-sort icones pl-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Postagens por tema"
                    ></i
                  ></a>
                </div>
              </nav>
            </aside>
          </div>


              <div class="card-group-list list mx-auto bg-light pl-5 pr-5 br-10 mt-5 mb-5">
                <h1 class="text-center shadow-sm br-10 mt-3">Feed Inicial</h1>
                  
                    <div class="col">
                      
                    <div class="card br-10 mt-5 mb-5" style="width: 35rem;">
                        <div class="card-body p-1 sombrabox br-10">
                            <div class="text-shadow">
                                <span><h5 class="card-title bg-light sombra text-center br-10">Titulo</h5></span>
                                    <h6 class="br-10 col-md-6 ml-1 card-subtitle bg-light text-muted">Por: (usuario) Assunto:(sei lá)</h6>
                                </div>
        
                                <p class="card-text p-4 text-shadow">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <h6 class="br-10 col-md-4 ml-1 card-subtitle bg-light text-muted">Data:</h6>
                          <footer class="d-flex bg-light sombra br-10 justify-content-center mb-0 mt-1">
                            <a href="#" class="card-link p-0 text-danger">Deletar</a>
                            <a routerLink="/tema" class="card-link p-0 text-primary">
                              Cadastrar tema
                            </a>
                            <a href="#" class="card-link p-0 text-primary">Editar</a>
                          </footer>
                            </div>
        
                        </div>
                  </div>

                  <div class="col">
                      
                    <div class="card br-10 mt-5 mb-5" style="width: 35rem;">
                        <div class="card-body p-1 sombrabox br-10">
                            <div class="text-shadow">
                                <span><h5 class="card-title bg-light sombra text-center br-10">Titulo</h5></span>
                                    <h6 class="br-10 col-md-6 ml-1 card-subtitle bg-light text-muted">Por: (usuario) Assunto:(sei lá)</h6>
                                </div>
        
                                <p class="card-text p-4 text-shadow">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <h6 class="br-10 col-md-4 ml-1 card-subtitle bg-light text-muted">Data:</h6>
                          <footer class="d-flex bg-light sombra br-10 justify-content-center mb-0 mt-1">
                            <a href="#" class="card-link p-0 btn btn-danger">Deletar</a>
                            <a href="#" class="card-link p-0 btn btn-danger">Editar</a>
                          </footer>
                            </div>
                        </div>
                   </div>
                  </div>
              </div>
        </div>