<nav class="navbar navbar-expand-lg navbar-light sombra p-2 bg-nav text-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">

            <li class="nav-item active">
                <img src="{{foto}}" alt="Foto de perfil" width="50px" width="50px"
                    class="img-fluid rounded-circle" />
            </li>

            <li class="nav-item px-2">
                <p class="m-0 font-weight-bold text-white fs-16">Olá, {{nome}}</p>
            </li>

            <li class="nav-item pl-3">
                <a [routerLink]="['/user-edit', id]">
                  <p class="text-white fs-16 m-0">
                    <i class="fi fi-sr-edit editar text-shadow shadow-sm"></i>
                  </p>
                </a>
              </li>

        </ul>

        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-3">
              <a (click)="sair()" class="m-0 font-weight-bold text-white fs-16 pointer mt-1"> 
                <p id="pSair">Sair <i class="fi fi-sr-sign-out-alt text-shadow sair" aria-hidden="true"></i>
                </p> 
              </a>
            </li>
          </ul>
    </div>
</nav>