<div class="container-fluid fundoCadastro text-white">
    <div class="row">
        <div class="col-md-12 my-5">
            <div class="row d-flex justify-content-center text-shadow">
                <div class="col-md-6 shadow-sm bg-light br-15">
                    <h1 class="text-center text-dark my-5">Deletar Usuário</h1>

                    <div class="text-center text-dark">
                        <h5>Tem certeza que deseja deletar o usuário?</h5>

                        <!-- nome do usuário -->
                        <h3 class="my-5">Nome do Usuário</h3>
                        <!-- /nome do usuário -->

                    </div>

                    <!-- mensagem de confirmação -->
                    <div class="text-center text-dark">
                        <h6 class="my-5">Com a exclusão dele todas as postagens feitas por ele serão apagados</h6>
                    </div>
                    <!-- /mensagem de confirmação -->

                    <!-- botões de contimação -->
                    <div class="d-flex justify-content-center my-5">
                        <button type="submit" class="mb-2 br-15 bw-2 btn btn-danger mr-4 shadow-sm" routerLink="/login">
                            Cancelar
                        </button>
                        <button type="submit" class="mb-2 br-15 bw-2 btn btn-primary shadow-sm">
                            Confirmar
                        </button>
                    </div>
                    <!-- botões de contimação -->

                </div>
            </div>
        </div>
    </div>
</div>