h1 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.13);
}
.text-sadow {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.13);

}
.box-shadow {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.034) !important;
}

.fundoCadastro{
    background-color: #C03CFF;
}
.br-15 {
    border-radius: 15px !important;
}
.bw-2 {
    border-width: 2px !important;
}
.sombra {
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.103), 0 0 1em #00000048;
}