.corMenu {
    background-color: #C03CFF;
}
.sombra {
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.103), 0 0 1em #00000048;
}
.br-15 {
    border-radius: 15px !important;
}

.bw-2 {
    border-width: 2px !important;
}
h1 {
    text-shadow: 4px 4px rgba(0, 0, 0, 0.13);
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color:darkslategrey;
}