.font {
    font-family:sans-serif;
}
.body {
    background-color: #C03CFF ; 
}

.pointer{
    cursor: pointer;
}

a{
    cursor: pointer;
}

.bg-nav {
    background-color: #724792  !important;
}

.bg-pag {
    background-color: #E0C8FC !important;
}
html{
    scroll-behavior: smooth;
}

a{
    scroll-behavior: smooth;
}

